#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:30px;
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 961px) {
 #logo {
  display: inline;
  margin-right: 30px;
 }
}

@media only screen and (min-width: 961px) {
 h4 {
  display: inline;
  margin-left: 50px;
 }
}
 
h4 {
 display: block;
 text-align: center;
 box-sizing: border-box;
}

#recipes-container {
 max-width: 1200px;
 margin: 0 auto;
}
 
.name {
 text-transform: uppercase;
} 
